<h2>Search</h2>
<p-tabView>
    <p-tabPanel header="Position">
        <h3>Position Search</h3>
        <div class="ui-grid">
            <p-dropdown [options]="searchFields" [(ngModel)]="rule.field" (onChange)="onFieldChange($event)" [style]="{'width': '250px'}"></p-dropdown>
            <p-dropdown *ngIf="searchConditions && searchConditions.length > 0" [options]="searchConditions" [(ngModel)]="rule.condition" (onChange)="onConditionChange($event)" [style]="{'width': '100px'}"></p-dropdown>
            <div *ngIf="searchDataField" style="display: inline-block;">
                <div [ngSwitch]="searchDataField.type">
                    <p-dropdown *ngSwitchCase="'select'" [options]="searchDataOptions" [(ngModel)]="rule.data" [style]="{'width': '250px'}"></p-dropdown>
                    <p-multiSelect *ngSwitchCase="'multiSelect'" [options]="searchDataOptions" [(ngModel)]="rule.data" [style]="{'width': '250px'}"></p-multiSelect>
                    <p-spinner *ngSwitchCase="'spinner'" size="30" [(ngModel)]="rule.data"></p-spinner>
                    <input *ngSwitchDefault style="margin-left: 5px" type="text" [(ngModel)]="rule.data" pInputText/>
                </div>
            </div>
            <button pButton type="button" (click)="search()" label="Search" style="margin-left: 5px"></button>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Dossier">
        <h3>Dossier Search</h3>
    </p-tabPanel>
</p-tabView>

<div *ngIf="!customer || customer.length === 0">No results</div>
<div class="ui-grid" *ngIf="customers && customers.length > 0">
    <p-dataTable #dt [value]="customers" 
        [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]" 
        resizableColumns="true">
        <header>Customers</header>
        <p-column field="typeNdg.code" header="Type" [sortable]="true" [filter]="true" filterMatchMode="in" [style]="{'overflow':'visible'}">
            <template pTemplate="filter" let-col>
                <p-multiSelect [options]="ndgTypeDomain" defaultLabel="All Types" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-multiSelect>
            </template>
        </p-column>
        <p-column field="ndgCode" header="Ndg" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column field="heading" header="Heading" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
    </p-dataTable>
</div>