<h2>Query Builder</h2>
<p>Use Query Builder for create complex queries.</p>

<div>
    <strong>Mongo DB Query</strong><br>
    <span>{{output}}</span>
</div>

<query-builder [group]="filter.group" (rulesChange)="onRulesChange($event)"></query-builder>
<button type="button" (click)="search()" label="Search" style="margin-left: 5px">Search</button>

<div *ngIf="!customers || customers.length === 0">No results</div>
<div class="customers-card mdl-card mdl-shadow--4dp" *ngIf="customers && customers.length > 0">
    <div class="mdl-card__title">Customers</div>
    <div class="customers-container">
        <p-dataTable #dt [value]="customers" 
            [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]"
            selectionMode="single" [(selection)]="selectedCustomer"
            resizableColumns="true">
            <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
            <p-column field="institute" header="Institute" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column field="typeNdg.code" header="Type" [sortable]="true" [filter]="true" filterMatchMode="in" [style]="{'overflow':'visible'}">
                <template pTemplate="filter" let-col>
                    <p-multiSelect [options]="ndgTypeDomain" defaultLabel="All Types" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-multiSelect>
                </template>
            </p-column>
            <p-column field="ndgCode" header="Ndg" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column field="heading" header="Heading" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
        </p-dataTable>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="getCustomerDetails(selectedCustomer)">
            Show Details
        </a>
    </div>
</div>

<div *ngIf="retrievedCustomer">
    <customer-details [customer]="retrievedCustomer"></customer-details>
</div>