.app-drawer-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  height: 151px;
  background: url('/resources/imgs/mdl-wallpaper2.jpg') no-repeat;
  background-size: 100%;
}