.dashboard-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    flex-wrap: wrap;
}

.dashboard-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.dashboard-card {
    width: 500px;
    min-height: 275px;
}

.card-body {
    display: flex;
}

.query-details {
    display: flex;
    flex-direction: column;
}

.mdl-data-table {
    border: none;
}